@import '../fonts.css';

body > nav {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > * {
    flex: none;
  }
  & > .logo {
    & > a {
      font-weight: 300;
      font-stretch: condensed;
      font-family: var(--font-stack-condensed);
      font-size: 48px;
      color: black;
      text-decoration: none;
    }
  }
  & > .menu {
    font-family: var(--font-stack-sans-serif);
    font-size: 18px;
    & > a {
      display: inline-block;
      padding: 4px 12px;
      color: black;
    }
  }
  & > .account {
    & > a {
      display: inline-block;
      padding: 4px 12px;
      font-family: var(--font-stack-sans-serif);
      font-size: 18px;
      color: black;
      &:last-child {
        color: white;
        background-color: black;
        border: 2px solid black;
        &::after {
          content: '→';
          margin-left: 8px;
          display: inline-block;
        }
        &:active {
          color: black;
          background-color: white;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body > nav {
    flex-direction: column;
  }
}
