<link rel="stylesheet" href="/scripts/components/layout.css">

<template id="menu-item">
  <li>
    <a></a>
  </li>
</template>

<aside>
  <cite>
    Follow <a href="https://twitter.com/CommonsHost">@CommonsHost</a> on Twitter.
    📣
  </cite>
</aside>

<nav>
  <div role="menubar">
    <a id="brand" href="/">Commons Host</a>
    <ul id="topics"></ul>
    <ul id="authentication"></ul>
  </div>
</nav>

<slot></slot>

<footer>
</footer>
