@import '../fonts.css';

body > main.pricing {
  margin: 30px 0 30px 0;
  & > p {
    font-family: var(--font-stack-sans-serif);
    font-size: 18px;
    max-width: 550px;
    margin: 1em auto;
  }
}
