@import '/styles/configuration.css';
@import '/styles/fonts.css';

header {
  margin: 20px 0 0 0;
  & > h1 {
    text-align: center;
    max-width: var(--max-width);
    padding: 0 8px;
    margin: 0 auto;
    font-weight: 300;
    font-stretch: condensed;
    font-family: var(--font-stack-condensed);
    font-size: 48px;
    color: black;
  }
}

main {
  max-width: var(--max-width);
  padding: 0 8px;
  margin: 0 auto;
  text-align: center;
  & > p {
    font-family: var(--font-stack-sans-serif);
    font-size: 16px;
  }
  & > form {
    & > div {
      width: 100%;
      max-width: 400px;
      margin: 28px auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & > label {
        background-color: black;
        padding: 2px 20px 0 8px;
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 16px;
        color: white;
      }
      & > input {
        border: 2px solid black;
        padding: 10px 14px;
        font-family: var(--font-stack-sans-serif);
        font-size: 16px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        &::placeholder {
          font-style: italic;
        }
      }
    }
    & > p {
      font-family: var(--font-stack-sans-serif);
      font-size: 16px;
      & > strong {
        font-weight: normal;
      }
      &#problem {
        padding: 10px;
        justify-content: center;
        max-width: 100%;
        margin: 1em auto;
        &:not([hidden]) {
          display: flex;
        }
        & > output {
          color: white;
          max-width: 400px;
          box-sizing: border-box;
          padding: 10px;
          background-color: #D0021B;
        }
      }
      & > button[type='submit'] {
        background-color: #7ED321;
        border: 2px solid black;
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 24px;
        padding: 3px 40px;
        color: white;
        text-decoration: underline;
        cursor: pointer;
        &:active {
          color: #7ED321;
          background-color: white;
        }
      }
    }
  }
  & p > a {
    color: black;
    font-family: var(--font-stack-sans-serif);
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  main > ol {
    grid-template-columns: auto;
  }
}
